@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import 'mixins/colors', 
        'mixins/mixins';


html, body {
    height: 100%;
    width:100%;
    padding: 0;
    font-size: 16px; 
} 

body {
    padding: 0;
    margin:0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    overscroll-behavior: none;
    background-color: #605b63;
    background: url('../../images/background.jpg')  no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%; 
}

section {
    margin:0;
    padding:0;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(43,16,18,0.75);


    nav.navbar {
 
        background-color: $gray;
        border-bottom: 30px solid $yellow;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }
    
        .navbar-brand {
            img {
                max-width: 400px;
                padding: 5px 20px;
                @media screen and (max-width: 415px) {
                    max-width: 90vw;
       
                }
        
            }
        }        
    }


    .navbar-nav,
    .mr-auto {
        flex: 1;
        margin: auto !important;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;

    }

    .navbar-nav {
        .nav-item {
            .nav-link  {
                font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 2.2rem;
                @include stroke(1, $yellow);
                color: $gray !important;
                border: 10px solid $gray;
                letter-spacing: 1.1px;


                &:hover {
                    color: $yellow !important;
                    @include stroke(0, $yellow);
                    letter-spacing: 1px;
                  
                }
            }
 
            &.active {
                .nav-link  {
                    color: $yellow !important;
                    @include stroke(0, $yellow);
                    background-color: $pink;
                    height: 125%;
                    border: 10px solid $gray;

                }
            }
        }
    }


    div.shopping_english {
        position: absolute;
        top:20px;
        right: 30px;
        width: 70px;
        height: 50px;

        @media screen and (max-width: 415px) {
            top:110px;
        }

        div {
            cursor: pointer;
            display: inline;

            img {
                max-width: 30px;
                transition: transform 0.5s;
                &:hover {
                    transform: scale(1.15); 
                }
            }
        
        }
    }
}

section.page_element {
    width: 94%;
    margin: 30px auto 10px auto;
    position: relative;
}

footer {

    div.top {
        background-color: $gray;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        div.address {
            
            margin-top: 20px;
            margin-right: 30px;
            font-size: 0.9rem;
            text-align: right;
            span {
                color: $yellow;
                font-weight: bold;

            }
            a {
                color: $yellow;
            }

        }

        div.some {
            margin-top: 20px;
            margin-right: 30px;
            width: 50px;
            
            img {
                width: 100%;
                max-width: 50px;
                margin-bottom: 10px;
                transition: transform .4s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.05); 
                }
            }
        }
    }

    div.bottom {
        background-color: $yellow;
        color: $black;
        font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 100;
        text-align: center;
        height: 60px;
        padding: 20px;
    }
}
