/* COLORS */

$gray: #66768c;
$yellow: #fdeb19;
$beige: #f7f0dc;
$black: #2b1210;
$pink: #e4067d;
$brown: #591f0e;
$orange: #f39124;


.--nyyork-gray {
  background-color: $gray;
}
.--nyyork-yellow {
  background-color: $yellow;
}
